<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Unity -->
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <containers>
      <container>
        <types>
          <register type="Mordomo.Business.Repository.IRepositoryFactory, Mordomo.Business"
                    mapTo="Mordomo.Data.RepositoryFactory, Mordomo.Data" name="RepositoryFactory" />

          <register type="Mordomo.Business.IUser, Mordomo.Business" mapTo="Mordomo.Business.User, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.ICreditCard, Mordomo.Business" mapTo="Mordomo.Business.CreditCard, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.ICreditCardType, Mordomo.Business" mapTo="Mordomo.Business.CreditCardType, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.IMenu, Mordomo.Business" mapTo="Mordomo.Business.Menu, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.IMenuItem, Mordomo.Business" mapTo="Mordomo.Business.MenuItem, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.IPage, Mordomo.Business" mapTo="Mordomo.Business.Page, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.IBreadcrumb, Mordomo.Business" mapTo="Mordomo.Business.Breadcrumb, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.IState, Mordomo.Business" mapTo="Mordomo.Business.State, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

          <register type="Mordomo.Business.ICity, Mordomo.Business" mapTo="Mordomo.Business.City, Mordomo.Business">
            <constructor>
              <param name="repFactory">
                <dependency name="RepositoryFactory" />
              </param>
            </constructor>
          </register>

        </types>
      </container>
    </containers>
  </unity>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="Mordomo" connectionString="Server=localhost; Database=Mordomo; Uid=root; Pwd=root;" providerName="MySql.Data.MySqlClient" />
    <add name="Mordomo2" connectionString="Server=.;Database=mordomo;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>