<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="Mordomo"
			 connectionString="Server=localhost; Database=Mordomo; Uid=root; Pwd=root;"
			 providerName="MySql.Data.MySqlClient"/>
    <add name="Mordomo2"
     connectionString="Server=.;Database=mordomo;Trusted_Connection=True;"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
